---
- hosts: localhost
  connection: local
  vars:
    hostname_prefix: 0x726576-
  vars_prompt:
    - name: hostname_suffix
      prompt: What is the 3-letter hostname suffix? E.g. {{ hostname_prefix }}ABC
      private: no
  pre_tasks:
    - name: Fail if hostname_suffix is not 3 letters in length
      fail:
        msg: hostname_suffix must be 3 letters in length
      when:
        - not hostname_suffix | length == 3
    - name: Check Homebrew is installed
      stat:
        path: /usr/local/bin/brew
      register: homebrew_installed
    - name: Error if Homebrew is not found
      fail:
        msg: Homebrew not found, run install.sh
      when:
        - not homebrew_installed.stat.exists
  tasks:
    - import_tasks: tasks/ansible.yml
    - import_tasks: tasks/hostname.yml
