name: Ansible
on: [push]
jobs:
  build:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Lint Playbook
        uses: ansible/ansible-lint-action@master
        with:
          targets: "playbook.yml"
